body {
    background: linear-gradient(#201F1F,#201F1F, #201F1F,#CA4340) ;
    color: aliceblue;
    margin-top: 5rem;
}

h1 {
    font-size: 64px;
    margin-bottom: -.5rem;
    font-weight: bold;
}

h2 {
    font-size: 30px;
    margin-bottom: 5rem;
    font-weight: bold;
}

.accordion {
    margin-top: 1rem;
    width: 80%;
    border: 1px solid aliceblue;
    border-radius: 5px;
}

.accordion-button {
    background: #201F1F;
    color: aliceblue;
    border: 1px solid aliceblue;
}

.accordion-button:focus, .accordion-button:active {
    background: #201F1F;
    color: aliceblue;
}

.accordion-body {
    background: #201F1F;
    color: aliceblue;
}

.titulo {
    margin-top: .5rem;
    margin-bottom: .5rem;
    font-size: 16px;
}

p {
    margin-bottom: -2px;
}

.playlist {
    margin: 6rem;
}

.setlist {
    margin-top: 3rem;
    gap: 5rem;
}

.img-spot {
    width: 100px;
    border: 1px solid aliceblue;
    border-radius: 50%;
}


footer {
    margin-top: 20rem;
    margin-bottom: 1rem;
    border-top: 1px solid rgb(64, 67, 70);
    padding-top: 1rem;
}

a {
    color: aliceblue;
}

